@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?naccvy');
  src:  url('../fonts/icomoon.eot?naccvy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?naccvy') format('truetype'),
    url('../fonts/icomoon.woff?naccvy') format('woff'),
    url('../fonts/icomoon.svg?naccvy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}
.icon-search:before {
  content: "\f002";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-stop2:before {
  content: "\ea1e";
}
