/*font-family: 'Montserrat', sans-serif;*/
body {
    font-family: Montserrat, sans-serif;
    font-style: normal;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.text-highlight {
    color: #18CFAB;
}

.header {
    background-image: url(../img/Sections-background/section-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.header-main {
    background: rgba(94, 93, 88, 0.6);
}

.header-main-inner {
    display: flex;
    justify-content: space-between;
}

.header-top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    margin-right: 21px;
}

.header-list-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.header-list-link {
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 50px;
}

.icon-search {
    width: 30px;
    height: 30px;
    color: rgba(255, 255, 255, 0.6);
}

.icon-search:hover {
    color: #18CFAB;
}

.header-bottom {
    margin-top: 264px;
    margin-bottom: 129px;
}

.header-bottom-title-content {
    text-align: center;
}

.header-bottom-title-before {
    font-weight: bold;
    font-size: 35px;
    line-height: 35px;
    color: white;
}

.header-bottom-title {
    margin-top: 22px;
    font-weight: bold;
    font-size: 78px;
    line-height: 80px;
    color: white;
}

.header-bottom-title-after {
    margin-top: 22px;
    font-weight: normal;
    font-size: 34px;
    line-height: 34px;
    color: #D4D4D4;
}

.header-bottom-buttons {
    margin-top: 129px;
    text-align: center;
}

.header-button-explore,
.install-now-button{
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: #18CFAB;
    padding: 16px 18px;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    margin-right: 26px;
    color: #FFFFFF;
}

.header-button-purchase {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: #00CBF6;
    padding: 16px 18px;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
}

.under-header {
    margin-top: 6px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.under-header-info-black {
    color: #18CFAB;
    background-color: #1C2A33;
}

.under-header-info-green {
    color: #FFFFFF;
    background-color: #18CFAB;
}

.under-header-info-black,
.under-header-info-green {
    text-align: center;
    height: 377px;
}

.under-header-svg1 {
    margin-top: 85px;
    margin-bottom: 47px;
}

.under-header-svg2 {
    margin-top: 96px;
    margin-bottom: 58px;
}

.under-header-svg3 {
    margin-top: 85px;
    margin-bottom: 47px;
}

.under-header-svg4 {
    margin-top: 95px;
    margin-bottom: 58px;
}

.under-header-info-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.our-service{
    margin-top: 83px;
    margin-bottom: 91px;
}
.our-service-inner {
    text-align: center;
}

.our-service-title,
.our-amazing-title,
.breaking-news-title,
.gallery-title{
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-bottom: 101px;
    position: relative;
}

.lines-from-title::before {
    position: absolute;
    content: '';
    width: 78px;
    height: 1px;
    top: 64px;
    left: 536px;
    background: #18CFAB;
}

.lines-from-title::after {
    position: absolute;
    content: '';
    width: 78px;
    height: 1px;
    top: 69px;
    right: 533px;
    background: #18CFAB;
}
.our-service-tabs-lists{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
}
.our-service-tabs-list{
    cursor: pointer;
    padding: 16px 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
}
.our-service-tabs-list-active{
    position: relative;
    color: white;
    background-color: #18CFAB;
}
.our-service-tabs-list-active::before{
    position: absolute;
    content: '';
    border: 15px solid transparent; border-top: 15px solid #18CFAB;
    left: 41%;
    top: 68px;
}
.our-service-tabs-list:hover{
    border: 1px solid #18CFAB;
}
.our-service-tabs-content{
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: start;
}
.our-service-tabs-content{
    display: none;
}
.our-service-tabs-content-active{
    display: flex;
}
.tabs-content-img{
    width: 192px;
    height: 145px;
    margin-right: 15px;
}
.tabs-content-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}
.install-now-bg{
    background: #000;
    opacity: 0.78;
    z-index: 1;
}
.install-now{
    background-image: url(../img/Sections-background/section-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 2;
}

.install-now-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    padding-top: 126px;
    padding-bottom: 12px;
    text-transform: uppercase;
}
.install-now-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 62px;
}
.install-now-button{
    margin-bottom: 127px;
}

.our-amazing{
    text-align: center;
    padding-top: 95px;
    background-color: #E9EDEF;
    padding-bottom: 99px;
}
.our-amazing-tabs-lists{
    display: flex;
    justify-content: center;
}
.our-amazing-tabs-list-all{
    cursor: pointer;
    padding: 13px 28px;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    border: 1px solid #DADADA;
}
.our-amazing-tabs-list{
    cursor: pointer;
    padding: 13px 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    border: 1px solid #DADADA;
}
.our-amazing-tabs-active{
    color: #18CFAB;
    border: 2px solid #18CFAB;
}
.our-amazing-tabs-gallery{
    margin-top: 71px;
}
.our-amazing-article-img{
    height: 100%;
    width: 100%;
}
.our-amazing-article{
    position: relative;
}
.our-amazing-article-hover{
    top: 0;
    position: absolute;
    text-align: center;
    align-items: center;
    max-width: 290px;
    height: 207px;
    border-top: 2px solid #18CFAB;
    width: 100%;
    background-color: #fff;
    transition: 1s;
    opacity: 0;
}
.our-amazing-article-hover:hover{
    opacity: 1;
}
.icon-chain,
.icon-stop2{
    border-radius: 50% ;
    border: 1px solid #18CFAB;
}
.icon-chain{
    color: #18CFAB;
    padding: 12px 12px;
}
.icon-stop2{
    background-color: #18CFAB;
    color: white;
    padding: 12px 12px;
}
.our-amazing-article-hover-links{
    margin-top: 60px;
    margin-bottom: 40px;
}
.our-amazing-article-hover-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
    text-transform: uppercase;

}
.our-amazing-article-hover-text{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    margin-bottom: 36px;
}
.our-amazing-tabs-gallery{
    display: flex;
    flex-wrap: wrap;
}
.our-amazing-button,
.gallery-button{
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    padding: 8px 23px 8px 22px;
    text-transform: uppercase;
    margin-top: 70px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #18CFAB;
    border: none;
    border-radius: 2px;
}
.our-amazing-button::before,
.gallery-button::before{
    font-family: 'icomoon' !important;
    content: "\f067";
    color: #FFFFFF;
    margin-right: 15px;
}
.our-amazing .container:not(.can-load-more) .our-amazing-button{
    display: none;
}
.breaking-news{
    margin-top: 82px;
    margin-bottom: 100px;
    text-align: center;
}
.breaking-news-content{
    position: relative;
}
.breaking-news-content-inner{
    text-align: left;
    margin: auto;
    max-width: 263px;
    border: 1px solid #F2F4F5;
    background:  #F8FCFE;
}
.breaking-news-content:hover .breaking-news-content-span{
    background-color: #18CFAB;
}
.breaking-news-content:hover .breaking-news-content-title{
    color: #18CFAB;
}
.breaking-news-content-span{
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 6px 23px 6px;
    color: #FFFFFF;
    position: absolute;
    width: 58px;
    height: 38px;
    background-color: #203E38;
    top: 0;
    right: 13px;

}
.breaking-news-content-title{
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}
.breaking-news-content-text{
    padding-left: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}
.breaking-news-content-text-separator{
    margin: 0 14px;
}
.breaking-news-content-link{
    text-decoration: none;
    color: #777777;
}
.breaking-news-inner{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 44px;
}

.breaking-news-content-link-img{
    margin: auto;
    display: flex;
    justify-content: center;
}
.about{
    background-image: url(../img/Sections-background/section-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    text-align: center;
    padding-top: 98px;
}
.about-title{
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    position: relative;
}
.about-top-icon{
margin-top: 100px;
}
.slider-for{
    margin-top: 36px;
}
.slider-item-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin-bottom: 37px;
}
.slider-item-name{
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;
}
.slider-item-professions{
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
}

.slider-item .slider-item-img {
    display: inline-block;
    margin-top: 50px;
    border-radius: 50%;
    border: 10px solid rgba(31, 218, 181, 0.2);
    width: 143px;
    height: 142px;
}

.slick-btn{
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-next{
    cursor: pointer;
    right: 300px;
    color: #BBBBBB;

}
.slick-prev{
    cursor: pointer;
    color: #BBBBBB;
    left: 300px;
}
.slick-next::before{
    font-family: 'icomoon' !important;
    content: "\f054";
}
.slick-prev::before{
    font-family: 'icomoon' !important;
    content: "\f053";
}
.slick-next:hover,
.slick-prev:hover{
    color: white;
    background-color: #18CFAB;
    border: none;
}
.dots-container {
    margin-top: 60px;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
}
.my-nav-dots .slick-slide{
    cursor: pointer;
    margin-left: 19px;
    margin-right: 19px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, 0.2);
}
.my-nav-dots li{
    width: 60px;
    height: 60px;
}
.my-nav-dots .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dots-container .slick-current{
    transform: translateY(-13px);
}
.dots-container .slick-track{
    padding: 13px 0;
}
.item {
    width: 33%;
    margin-bottom: 15px;
}
.gallery-title{
    text-align: center;
}

.gallery{
    padding-top: 108px;
    padding-bottom: 67px;
}
.item-collum3{
    width: 363px;
}
.button-container{
    text-align: center;
}
.dop-images{
    display: none;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22353F;
    height:121px;
}
.footer-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}
.footer-span{
    color: #18CFAB;;
}